@import '../utils/variables';
@import './Form.module.scss';

.container {
  padding: calc(10px + 1vh) calc(8px + 0.8vw);
  position: relative;
  height: 100vh;
  max-width: 1024px;
  margin: auto;
}

.header {
  @include flex(row, flex-start, space-between, true);
  margin-bottom: calc(8px + .8vh);
  height: 350px;

  @media screen and (max-width: $breakpoint_max_md) {
    display: block;
    height: fit-content;
  }
}

.tabHeader {}

.detailWedding {
  border: 1px solid $color_light_border;
  border-radius: 3px;
  padding: calc(8px + .8vh) calc(8px + .8vw);
  width: calc((100% / 2) - (8px + .8vw));
  height: 100%;

  @media screen and (max-width: $breakpoint_max_md) {
    width: 100%;
    margin-top: calc(8px + .8vw);
    height: fit-content;
  }
}

.detailEventContainer {}

.detailEventItems {}

.detailEventItemsLabel {
  @include typographyBuilder(600, 16, 16);
  margin: 14px 0 8px 0;
}

.detailEventItemsValue {
  @include typographyBuilder(400, 16, 16);
  margin: 0;
}

.statistikContainer {
  border: 1px solid $color_light_border;
  border-radius: 3px;
  padding: calc(8px + .8vh) calc(8px + .8vw);
  width: calc((100% / 2) - (8px + .8vw));
  height: 100%;

  @media screen and (max-width: $breakpoint_max_md) {
    width: 100%;
    height: fit-content;
  }
}

.statistikChartContainer {
  @include flex(row, center, flex-start);
  @include fixedWidth(100%);

  @media screen and (max-width: $breakpoint_max_md) {
    display: block;
  }
}

.statistikChart {
  @include fixedWidth(50%);
  @include fixedHeight(250px);

  @media screen and (max-width: $breakpoint_max_md) {
    @include fixedWidth(100%);
  }
}

.statistikChartDesc {
  @include fixedWidth(50%);

  @media screen and (max-width: $breakpoint_max_md) {
    @include fixedWidth(100%);
  }

  h3 {
    @include flex(row, center, flex-start);
    @include typographyBuilder(600, 16, 16);
    margin-bottom: calc(8px + .8vh);
    padding-bottom: calc(6px + .6vh);
    margin-top: 0;
    border-bottom: 1px solid $color_light_border;

    &>span:first-child {
      @include fixedSize(16px);
      margin-right: 8px;
    }

    &>span:last-child {
      display: inline-block;
      margin-left: auto;
    }
  }
}

.statistikHeader,
.detailHeader {
  @include flex(row, flex-start, flex-start);
  @include typographyBuilder(600, 16, 16);
  padding-bottom: calc(6px + .6vh);
  margin-bottom: calc(6px + .6vh);
  border-bottom: 1px solid $color_light_border;

  span,
  h3 {
    margin-bottom: 0;
    margin-top: 0;
  }

  span {
    margin-right: calc(8px + .8vw);
  }
}

// .statistikContainerItems {
//   @include fixedWidth(calc((100% / 2) - 10px));
//   @include fixedHeight(200px);
//   @include flex(column, center, center);
//   color: $color_white;
//   border-radius: 4px;
//   margin-bottom: 20px;

//   &[class$="total"] {
//     background-color: $color_green;
//   }

//   &[class$="arrival"] {
//     background-color: $color_blue;
//   }

//   &[class$="noarrival"] {
//     background-color: $color_grey_dark;
//   }

//   &[class$="noconfirm"] {
//     background-color: $color_grey_light;
//   }

//   & > label:nth-child(1) {
//     @include typographyBuilder(400, 36, 36);
//     margin-bottom: 20px;
//   }
// }

.tabBody {
  padding: calc(5px + .5vh) 0;
  margin-top: calc(8px + .8vh);
}

.listGuestHeader {
  // @include flex(row, center, space-between);
}

.tabHeaderButton {
  @include typographyBuilder(400, 12, 14);
  width: 50%;
  padding: calc(5px + .5vh) calc(5px + .5vw);
  border-radius: 0;
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid $color_black_text;
  color: $color_black_text;

  &[class$="active"] {
    @include typographyBuilder(600, 12, 14);
    color: $colorTheme1;
    border: 1px solid $colorTheme1;
    border-bottom: 0;
  }
}

.listGuestHeaderInputContainer {
  @include flex(row, center, space-between);
  margin-top: calc(8px + .8vh);

  &>input {
    margin-bottom: 0;
  }

  &>input,
  &>select {
    width: calc((100% / 2) - 8px);
  }
}

.listGuestContainer {
  // max-height: 90vh;
  // overflow: hidden;
}

.listGuestItemsContainer {
  margin-top: calc(8px + .8vh);
  padding: calc(5px + .5vh) calc(5px + .5vw);
  // height: 75vh;
  // overflow: auto;
}

.listGuestItemHeader {
  @include flex(row, center, space-between);
}

.listGuestItem {
  border: 1px solid $colorTheme1;
  margin-top: calc(4px + .4vh);
  border-radius: 3px;
  padding: calc(5px + .5vh) calc(5px + .5vw);
}

.listGuestItemName {
  @include typographyBuilder(600, 18, 16);
  margin: 0 0 calc(4px + .4vh);
}

.listGuestItemTime {
  @include flex(row, center, flex-start);
  @include typographyBuilder(400, 18, 16);
  margin: 0 0 calc(4px + .4vh);

  &>span {
    @include icon('clock', $colorTheme1, 14px, 14px);
    margin-right: 6px;
  }
}

.listGuestItemLink {
  @include typographyBuilder(400, 18, 16);
  @include flex(row, center, space-between);
  background: $color_light_dark;
  padding: calc(5px + .5vh) calc(5px + .5vw);
  border-radius: 4px;
}

.listGuestItemLinkIcon {
  @include fixedWidth(13.33px);
  @include fixedHeight(16.67px);
  display: inline-block;
  background-repeat: no-repeat;
  margin: 0 10px 0 calc(4px + .4vw);
  cursor: pointer;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='14' height='18' viewBox='0 0 14 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.04778 0.666656C4.99581 0.666656 4.14302 1.5994 4.14302 2.74999V11.0833C4.14302 12.2339 4.99581 13.1667 6.04778 13.1667H11.7621C12.814 13.1667 13.6668 12.2339 13.6668 11.0833V5.2648C13.6668 4.71226 13.4661 4.18236 13.1089 3.79166L10.8097 1.27685C10.4525 0.88615 9.96799 0.666656 9.46282 0.666656H6.04778Z' fill='%232A2A2A'/%3E%3Cpath d='M0.333496 6.91666C0.333496 5.76606 1.18629 4.83332 2.23826 4.83332V15.25H9.8573C9.8573 16.4006 9.00451 17.3333 7.95254 17.3333H2.23826C1.18629 17.3333 0.333496 16.4006 0.333496 15.25V6.91666Z' fill='%232A2A2A'/%3E%3C/svg%3E%0A");
}

.listGuestItemLinkIconWhatsapp {
  @include fixedWidth(17px);
  @include fixedHeight(16.67px);
  display: inline-block;
  background-repeat: no-repeat;
  margin: 0 0 0 calc(4px + .4vw);
  cursor: pointer;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.50301 15.5L1.51701 11.774C0.848863 10.6286 0.497832 9.32599 0.50001 8C0.50001 3.85775 3.85776 0.5 8.00001 0.5C12.1423 0.5 15.5 3.85775 15.5 8C15.5 12.1423 12.1423 15.5 8.00001 15.5C6.67459 15.5021 5.3725 15.1514 4.22751 14.4838L0.50301 15.5ZM5.29326 4.481C5.19641 4.48701 5.10177 4.51252 5.01501 4.556C4.93365 4.60207 4.85938 4.65967 4.79451 4.727C4.70451 4.81175 4.65351 4.88525 4.59876 4.9565C4.32157 5.31725 4.17247 5.76006 4.17501 6.215C4.17651 6.5825 4.27251 6.94025 4.42251 7.27475C4.72926 7.95125 5.23401 8.6675 5.90076 9.33125C6.06126 9.491 6.21801 9.6515 6.38676 9.80075C7.2143 10.5293 8.20045 11.0548 9.26676 11.3353L9.69351 11.4005C9.83226 11.408 9.97101 11.3975 10.1105 11.3907C10.3289 11.3795 10.5422 11.3203 10.7353 11.2175C10.8598 11.1515 10.9183 11.1185 11.0225 11.0525C11.0225 11.0525 11.0548 11.0315 11.1163 10.985C11.2175 10.91 11.2798 10.8568 11.3638 10.769C11.426 10.7045 11.48 10.6287 11.5213 10.5425C11.5798 10.4202 11.6383 10.187 11.6623 9.99275C11.6803 9.84425 11.675 9.76325 11.6728 9.713C11.6698 9.63275 11.603 9.5495 11.5303 9.51425L11.0938 9.3185C11.0938 9.3185 10.4413 9.03425 10.043 8.85275C10.001 8.83445 9.95602 8.82402 9.91026 8.822C9.85894 8.81673 9.8071 8.8225 9.7582 8.83893C9.7093 8.85536 9.66448 8.88206 9.62676 8.91725V8.91575C9.62301 8.91575 9.57276 8.9585 9.03051 9.6155C8.99939 9.65732 8.95652 9.68893 8.90736 9.70629C8.85821 9.72366 8.805 9.72599 8.75451 9.713C8.70564 9.69993 8.65777 9.68339 8.61126 9.6635C8.51826 9.6245 8.48601 9.6095 8.42226 9.58175L8.41851 9.58025C7.98944 9.39292 7.59218 9.13988 7.24101 8.83025C7.14651 8.74775 7.05876 8.65775 6.96876 8.57075C6.67369 8.28818 6.41655 7.96851 6.20376 7.61975L6.15951 7.5485C6.12773 7.50062 6.10203 7.44898 6.08301 7.39475C6.05451 7.2845 6.12876 7.196 6.12876 7.196C6.12876 7.196 6.31101 6.9965 6.39576 6.8885C6.46633 6.79874 6.53217 6.70536 6.59301 6.60875C6.68151 6.46625 6.70926 6.32 6.66276 6.20675C6.45276 5.69375 6.23526 5.183 6.01176 4.676C5.96751 4.5755 5.83626 4.5035 5.71701 4.48925C5.67651 4.48475 5.63601 4.48025 5.59551 4.47725C5.49479 4.47225 5.39386 4.47325 5.29326 4.48025V4.481Z' fill='%234DC247'/%3E%3C/svg%3E%0A");
}

.formAddLinkContainer {
  @include flex(column, flex-start, flex-end);
  position: fixed;
  transition: all .5s;
  bottom: 0;
  left: 0;
  max-width: 500px;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;

  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;

  &[class$='close'] {
    max-height: 0;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;

  }

  @media screen and (min-width: $breakpoint_min_md) {
    @include fixedWidth(100vw);
    @include flex(column, center, center);
    left: 0;
  }
}

.formAddLinkBackground {
  opacity: .5;
  background-color: $color_black;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100vh;
  width: 100vh;
  min-width: 100vw;
}

.formAddLinkBody {
  max-width: 500px;
  width: 100vw;
  border-radius: 15px 15px 0 0;
  -webkit-box-shadow: 0px -5x 6px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 0px -5px 6px rgba(50, 50, 50, 0.25);
  box-shadow: 0px -5px 6px rgba(50, 50, 50, 0.25);
  background-color: $color_white;
  z-index: 1;
  padding: calc(10px + 1vh) calc(8px + 0.8vw);

  @media screen and (min-width: $breakpoint_min_md) {
    border-radius: 15px;
  }
}

.formAddLinkLabel {
  @include typographyBuilder(400, 14, 12);
  display: block;
  text-align: left;
  margin-bottom: 6px;
}

.formAddLinkInput {
  @extend .form_input;
  @include typographyBuilder(400, 14, 12);
  width: 100%;
  text-align: left;
  -moz-appearance: textfield !important;
  margin-bottom: calc(8px + .8vh);

  &::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
  }
}

.formAddLinkInputFilter {
  @extend .form_input;
  @include typographyBuilder(400, 14, 12);
  width: 100%;
  text-align: left;
  -moz-appearance: textfield !important;
  margin: 0;

  &::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
  }
}

.formAddLinkButton {}

.formAddLinkHeaderContainer {
  @include flex(row, center, center);
  position: relative;
  margin-bottom: 15px;
}

.formAddLinkHeaderTitle {
  @include typographyBuilder(600, 18, 16);
  margin: 0;
}

.formAddLinkHeaderClose {
  position: absolute;
  top: 0;
  right: 0;
}

.buttonShowAllContainer {
  @include flex(row, center, center);
  margin-top: 20px;
}