@import '../utils/variables';

.main {
  max-width: 500px;
  height: 100vh;
  margin: auto;
}

.bgWhite 
{
  background-color: $color_white;
}

.admin {
  max-width: 100% !important;
  overflow: auto;
  height: auto !important;
}