@import '../utils/variables';
@import './Form.module.scss';

.container {
  @include flex(column, flex-start, flex-start);
  background-color: $colorTheme3;
  position: fixed;
  transition: all .5s;
  bottom: 0;
  left: 0;
  max-width: 500px;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;

  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;

  &[class$='close'] {
    max-height: 0;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
  }

  &[class$='open'] {
    z-index: 1;
  }

  @media screen and (min-width: $breakpoint_min_md) {
    @include fixedWidth(100vw);
    @include flex(column, flex-start, flex-start);
    left: 0;
  }
}

.overlay {
  @include fixedHeight(100vh);
  @include fixedWidth(100vw);
  position: absolute;
  top: 0;
  z-index: 1;
  background: linear-gradient(180deg, rgba($colorTheme1, 0.8), transparent 30%, rgba($colorTheme1, 0.8));
}

.backgroundContainer {
  position: fixed;
  top: 0;
}

.background {
  @include fixedWidth(100vw);
  @include fixedHeight(100vh);
  position: relative;
  opacity: .2;
  z-index: 0;

  img {
    @include fixedWidth(100vw);
    position: absolute;
    height: auto;
    left: 0;

    &:first-child {
      top: 0;
    }

    &:last-child {
      bottom: 0;
    }
  }
}

.body {
  @include flex(column, center, space-between);
  @include fixedHeight(100vh);
  padding: calc(40px + 4vh) 0 0;
  z-index: 1;
}

.photo {
  @include flex(column, center, center);
  @include fixedWidth(100vw);

  img {
    width: 100%;
    max-width: 500px;
  }
}

.content {
  width: 100%;
  max-width: 500px;
  padding: calc(10px + 1.5vh) calc(8px + .8vw);
  color: $color_white;
  border-left: 0;
  border-right: 0;

}

.text {

  p {
    @include typographyBuilder(300, 14, 18);
    margin-top: 0;
    margin-bottom: 16px;
  }

  h3 {
    @include typographyBuilder(600, 24, 24);
    margin-top: 0;
    margin-bottom: 16px;
  }
}

.name {
  margin-top: calc(16px + .8vh);

  h3 {
    @include typographyBuilder(400, 42, 42, false);
    color: $color_white;
    margin-top: 0;
  }
}